.App {
  text-align: center;
  padding-top: 10px;
}

.frm {
  align-items: center;
  background-color: #f0f3f6;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  box-sizing: border-box;
  margin: 40px 0 0;
  padding: 20px 0 28px;
  width: 396px;
  height: fit-content;
}

.comment {
  background-color: #dadada;
  border-radius: 12px;
  padding-left: 8px;
  margin: 8px;
  text-align: left;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 25%);
}

.pointer {
  cursor: pointer;
}
.circularBtn {
  margin: 5px;
}
.reacts {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post {
  align-items: center;
  background-color: #bebebe;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 50%);
}
